@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&display=swap");

:root {
  /* Colors */
  --color-primary: #0d6efd;
  --color-white: #ffffff;
  --color-dark: #1b1919;
  --color-light-blue: #d1ecfe;
  --color-dark-background: #000;
  --color-light-background: lch(93.05% 0.01 296.81);

  /* Spacing */
  --spacing-xs: 0.5rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 3rem;
  --spacing-xxl: 4rem;
  --spacing-xxxl: 4.8rem;
  /* Fonts */
  --font-base: "Inter", sans-serif;
  --font-logo: "Baloo 2", sans-serif;

  /* Font Sizes */
  --font-size-xs: 0.75rem;
  --font-size-sm: 1rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 3rem;
  --font-size-xxx: 4rem;
  --font-size-4x: 4.8rem;

  /* Font Weights */
  --font-weight-medium: 500;
  --font-weight-bold: 700;

  /* Border Radius */
  --radius-xs: 0.25rem;
  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-circle: 50%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}
body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-family: var(--font-base);
  color: var(--color-dark);
  line-height: 1.6;
}
.main-container {
  max-width: 144rem;
  width: 90%;
  margin: 0 auto;
}
.section {
  padding: var(--spacing-xxl) 0;
}
.blue-button {
  background-color: var(--color-primary);
  color: var(--color-white);
  padding: var(--spacing-sm) var(--spacing-md);
  border: none;
  border-radius: var(--radius-sm);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.blue-button:hover {
  background-color: #0b5ed7; /* Darkened version of --color-primary */
}

.blue-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.5);
}
