.events__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 24px;
  margin-bottom: 40px;
}

.event-card {
  border: 1px solid var(--color-light-blue);
  cursor: pointer;
  border-radius: var(--radius-sm);
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: var(--spacing-md);
  gap: var(--spacing-md);
  background-color: var(--color-light-blue);
}

.event-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

.event-card__image {
  width: 100%;
  height: 25rem;
  border-radius: var(--radius-sm);
  object-fit: cover;
}

.event-card__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
}

.event-card__title {
  color: var(--color-primary);
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-medium);
}

.event-card__speaker {
  font-size: var(--font-size-xl);
  color: var(--color-dark);
  font-style: italic;
}
.event-card__content button {
  width: 40%;
}
.event-card__date {
  font-size: var(--font-size-lg);
  color: var(--color-dark);
}

.event-card__desc {
  font-size: var(--font-size-md);
  color: var(--color-dark);
}
.card-icon {
  margin-right: var(--spacing-md);
}
