.header {
  background-color: var(--color-primary);
  padding: var(--spacing-lg) var(--spacing-xxl);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  right: 0;
}

.header__logo {
  max-width: 16rem;
  width: 100%;
  height: auto;
}

.header__logo img {
  width: 100%;
  border-radius: var(--radius-md);
  cursor: pointer;
}

.header__search {
  position: relative;
  width: 100%;
  max-width: 16rem;
  font-size: var(--font-size-md);
  font-style: italic;
  border: 2px solid var(--color-primary);
  border-radius: var(--radius-sm);
}

.header__search-input {
  width: 100%;
  padding: var(--spacing-sm);
  padding-right: var(--spacing-xl);
  border: none;
  border-radius: var(--radius-sm);
  color: var(--color-primary);
  font-style: italic;
  font-weight: var(--font-weight-medium);
}

.header__search-input::placeholder {
  color: var(--color-primary);
  font-style: italic;
  font-weight: var(--font-weight-medium);
}

.header__search-input:focus {
  outline: none;
}

.header__search-button {
  position: absolute;
  top: 50%;
  right: var(--spacing-sm);
  transform: translateY(-50%);
  background: none;
  border: none;
  color: var(--color-primary);
  cursor: pointer;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--spacing-lg);
  list-style: none;
  text-decoration: none;
}

.nav__link {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  display: inline-block;
  position: relative;
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  transition: all 0.3s ease-out;
}

.nav__link:hover {
  transform: scale(1.05);
  font-weight: var(--font-weight-bold);
}
.burger-menu {
  font-size: var(--font-size-xxx);
  display: none;
}
