@media (max-width: 1024px) {
  .carousel-caption {
    top: 40%;
  }
  .details-card-content {
    grid-template-columns: 1fr;
    height: auto;
    padding: var(--spacing-xl);
  }
  .details-card-image {
    width: 80%;
    margin: 0 auto;
  }
  .back-button {
    position: static;
    margin-top: var(--spacing-xl);
    display: block;
    text-align: right;
  }
}
@media (max-width: 900px) {
  .nav__links {
    opacity: 0;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-lg);
    background-color: var(--color-light-blue);
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: var(--spacing-lg);
    transition: max-height 0.4s ease, opacity 0.3s ease, padding 0.3s ease;
    background-color: var(--color-primary);
  }

  .nav__links.nav__links-active {
    display: flex;
    max-height: 12rem;
    padding: var(--spacing-lg);
    opacity: 1;
  }

  .burger-menu {
    display: block;
    cursor: pointer;
    z-index: 100;
  }
}

@media (max-width: 768px) {
  .carousel-caption h1 {
    font-size: var(--font-size-xxl);
  }
  .blue-button {
    font-size: var(--font-size-md);
  }
  .milestones-section__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .details-info h4 {
    font-size: var(--font-size-md);
  }
}
@media (max-width: 540px) {
  .header {
    justify-content: space-between;
    padding: var(--spacing-lg);
  }
  .header__logo {
    display: none;
  }
  .header__features {
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: flex-start;
  }

  .header__search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .header__search-input {
    width: 100%;
  }
  .milestones-section__cards {
    grid-template-columns: 1fr;
  }
  .section__title {
    font-size: var(--font-size-xl);
  }
  .event-card__title,
  .event-card__speaker {
    font-size: var(--font-size-lg);
  }
  .section-titles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: var(--spacing-sm);
  }
  .details-info h4 {
    border: 1px solid var(--color-primary);
    border-radius: var(--spacing-sm);
    padding: var(--spacing-xs);
  }
  .details-info h4.active {
    background-color: var(--color-primary);
    color: var(--color-light-blue);
  }
  .nav__links {
    gap: var(--spacing-sm);
    justify-content: space-between;
  }
  .carousel-caption h1 {
    font-size: var(--font-size-xl);
  }
  .carousel-caption p {
    font-size: var(--font-size-lg);
  }
  .footer__input {
    width: 20rem;
  }
}
@media (max-width: 420px) {
  .nav__link {
    font-size: var(--font-size-sm);
  }
  .footer__form {
    flex-direction: column;
    gap: var(--spacing-xl);
  }
  .footer__input,
  .footer__button {
    width: 100%;
  }
  .details-header h3 {
    font-size: var(--font-size-lg);
  }
  .section-titles {
    grid-template-columns: 1fr;
  }
}
